/* место для вашего кода */
.header{
    margin: 92px auto;
    width: 1340px;
    display: grid;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding-bottom: 4px;
    grid-template-columns: 1fr min-content 1fr;
    align-content: center;
}

.header__menu{
    /* max-width: 380px; */
    align-self: center;
}

.header__links-list{
    display: flex; 
    list-style-type: circle;
    margin: 0;
    padding: 0;
}

.header__links-list-item{
    font-size: 18px;
    font-weight: normal;
    margin-right: 33px;
}
.header__links-list-item:hover{
    cursor: pointer;
}

.header__links-list-item_no-bullit{
    list-style-type: none;
}

.header__link{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__link_active{
    text-decoration: dashed;
}

.header__logo{
    display: block;
    width: 140px;
    height: 105px;
}

.address{  
    margin: 0;
    padding: 0;
    width: 240px;
    align-self: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.header__address{
    justify-self: end;
    margin-right: 0;
}

.cover{
  position: relative;  
  width: 1440px;
  height: 757px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
  padding: 165px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  position: relative;
}

/* .cover::before{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    width: 1440px;
    height: 757px;
    position: absolute;
    background: black;  
    opacity: 0.6;
} */

.cover__title{
    position: relative;
    /* margin: 165px; */
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 3;
}

.aligned-text{
    display: block;
}

.aligned-text_center{
    display: block;
    /* margin-top: 14px;
    margin-bottom: 5px;
    margin-right: 30px; */
    margin: 14px 30px 5px 0;
    text-align: center;
}

.aligned-text_right{
    display: block;
    text-align: right;
    margin-right: -30px;
}

.letter-spacing-extended{
    letter-spacing: 60px;
}

.cover__description{
    margin-top: 127px;
    display: flex;
    /* align-self: flex-end; */
    justify-content: flex-end;
    align-items: baseline;
    z-index: 3;
    /* border: 1px solid red; */
}

.cover__description-text{
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    text-align: center;
    word-spacing: 17px;
    min-height: 52px;
    
}

.bet-button{
    width: 257px;
    height: 52px;
    margin-left: 80px;
    /* background-color: rgba(255,255,255,0); */
    background-color: transparent;
    border-color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #FFF;
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    inset: 0;
    z-index: 2;
}

.lots{
    width: 1340px;
    margin: 180px auto;
    padding: 0;
}

.lots__heading{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #000;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
    justify-content: space-between;
    min-height: 450px;   
    margin-bottom: 30px; 
}

.card-link{
    display: block;
    text-decoration: none;
    height: 100%;
}

.card{
    position: relative;
    height: 100%;
    max-width: 430px;
    margin: 0;
    padding: 50px 40px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.card_type_film{
    background-image: url('../images/card-lot-01.jpg');
    background-size: cover;
}

.card_type_book{
    background-image: url('../images/card-lot-02.jpg');
    background-size: cover;
}

.card_type_picture{
    background-image: url('../images/card-lot-03.jpg');
    background-size: cover;
}

.card__title{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFF;
    z-index: 3;
    /* margin-bottom: 202px; */
}

.card__text{
    margin: 0;
    padding: 0;
    align-self: self-end;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    z-index: 4;
}

.lots__look-more-link{
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.about{
    width: 1340px;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.logo__column{
    width: 430px;
    height: 240px;
    display: flex;
    align-self: flex-start;
    justify-content: center;
}

.about__logo{
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    /* align-self: center;
    justify-self: center; */
}

.about__logo-image{
    width: 148px;
}

.about__column{
    align-self: flex-end;
    width: 885px;
    margin: 0;
    margin-top: 100px;
    margin-left: 28px;
    padding: 0;
}

.about__title{
    margin: 0;
    padding: 0;
    padding-bottom: 75px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #000;
}

.about__text{
    margin: 0;
    padding: 0;
    padding-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.footer{
    width: 1340px;
    margin: 180px auto 90px;
    padding: 0;
    display: grid;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding-bottom: 4px;
    grid-template-columns: 1fr min-content 1fr;
    align-content: flex-start;
}

.footer__menu{
    width: 149px;  
}

.footer__menu-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__menu-link{
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-link_active{
    text-decoration: none;
}

.footer__social-list{
    display: flex;
    width: 240px;
    height: 48px;
    justify-self: end;
    margin-right: 0;
    list-style-type: none;
    justify-content: space-between;
}

.footer__social-icon{
    width: 50px;
}